body {
    background-image: url(src/img/saladehospital.png)  ;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: yellow;
    font-size: 25px;
    font-style: italic;
}

input {
    border-color: yellow;
    border-width: thick;
}

h1 {
    background-color: beige;
}
